
	/* CSS Code */
	/* Heading */
h1 {
	color: rgb(red);
	font-size: 45px;
}


	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 70px;
		margin: auto;
		border: 1px solid black;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}
    

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 50px;
		border: 1px solid rgb(230, 14, 14);
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: rgb(255, 30, 30);
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: red;
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}

	/* Game Instruction Text */
	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: red;
		font-size: 17px;
	}

